In [12]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [13]:
pd.__version__

'2.0.1'

In [14]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz' \
                 ,nrows=100)

In [15]:
len(df)

100

In [16]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [17]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [18]:
# test connection
# engine.connect()

In [19]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [20]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', iterator=True, chunksize=100000)

In [21]:
df = next(df_iter)

In [22]:
len(df)

100000

In [23]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [24]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [25]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 3.6 s, sys: 70.6 ms, total: 3.67 s
Wall time: 6.23 s

1000

In [27]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 6.018 second
inserted another chunk, took 6.271 second
inserted another chunk, took 6.737 second
inserted another chunk, took 5.940 second
inserted another chunk, took 6.336 second
inserted another chunk, took 6.319 second
inserted another chunk, took 5.949 second
inserted another chunk, took 5.323 second
inserted another chunk, took 5.338 second
inserted another chunk, took 5.788 second
inserted another chunk, took 6.529 second

/tmp/ipykernel_30161/2113580993.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 6.026 second
inserted another chunk, took 3.631 second

StopIteration: